body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
    color: #333; /* Dark text color for readability */
}

body {
    font-family: 'Georgia', serif; /* A more elegant font choice */
    background-color: #e7fde7; /* A light beige for a warm and clean look */
}

.topnav {
    background-color: #985C00; /* A rich brown for a cozy feel */
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.topnav a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
}

.topnav a.active {
    background-color: #D9534F; /* A warm red tone for highlighting */
}

.topnav a:hover {
    background-color: #D9534F;
}

.search-container input[type="text"] {
    padding: 5px;
    border: 1px solid #985C00; /* Matching brown border */
}

#searchButton {
    background-color: #D9534F;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.main {
    background-color: #FFF;
    margin: 20px;
    padding: 20px;
    border: 1px solid #985C00;
}

h2 {
    text-align: center;
}

.button {
    background-color: #D9534F;
    color: #FFF;
    margin: 20px;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #985C00; /* Hover effect with brown background */
}

.category-button {
    background-color: #D9534F;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #985C00;
}

button {
    background-color: #D9534F;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #985C00;
}

.footer {
    background-color: #333; /* Dark gray for contrast with light background */
    color: #FFF;
    text-align: center;
    padding: 10px;
}

.footer p {
    margin: 0;
}
