body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
    color: #333; /* Dark text color for readability */
}

body {
    font-family: 'Times New Roman', serif; /* A classic and elegant font choice */
    background-color: #F6F6F6; /* A neutral and calming light gray background */
}

.topnav {
    background-color: #3B7E86; /* A soothing teal for a calming atmosphere */
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.topnav a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
}

.topnav a.active {
    background-color: #2E6B78; /* A slightly darker teal for highlighting */
}

.topnav a:hover {
    background-color: #2E6B78;
}

.search-container input[type="text"] {
    padding: 5px;
    border: 1px solid #3B7E86; /* Matching the topnav background color */
}

#searchButton {
    background-color: #2E6B78;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.main {
    background-color: #FFF;
    margin: 20px;
    padding: 20px;
    border: 1px solid #3B7E86;
}

h2 {
    text-align: center;
}

.button {
    background-color: #3B7E86; /* Matching the topnav background color */
    color: #FFF;
    margin: 20px;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2E6B78;
}

.category-button {
    background-color: #2E6B78; /* A slightly darker teal for a pleasing look */
    color: #FFF;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #3B7E86;
}

button {
    background-color: #2E6B78; /* Matching the topnav and button color */
    color: #FFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3B7E86;
}

.footer {
    background-color: #736f6f; /* Dark gray for contrast with light background */
    color: #FFF;
    text-align: center;
    padding: 10px;
}

.footer p {
    margin: 0;
}